@model IEnumerable<IdSrv.Account.Models.IdSrvUserDTO>

@{
    ViewBag.Title = "Index";
}

@if (TempData.ContainsKey("_IsError"))
{
    bool? isError = TempData["_IsError"] as bool?;
    string errorClass = isError.HasValue && isError.Value ? "warning" : "success";
    <div class="alert alert-@errorClass alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @(TempData["_Message"] as string)
    </div>
}

<div class="container">

    <h2 class="row">Пользователи</h2>
    <br />
    <table class="table row">
        <tr class="row">
            <th class="col-md-5">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-md-2">
                @Html.DisplayName("Имя пользователя")
            </th>
            <td class="col-md-3">
                @Html.ActionLink("Создать", "Create", "Users", new { @class = "btn btn-default pull-right" })
            </td>
        </tr>

    @foreach (var item in Model) {
        <tr class="row">
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td class="col-md-3 container">
                    @Html.ActionLink("Сменить пароль", "ChangePassword", new { id = item.Id}, new { @class="btn btn-default col-md-6"} )
                    @using (Html.BeginForm("Delete", "Users", FormMethod.Post))
                    {
                        @Html.Hidden("id", item.Id)
                        <input type="submit" value="Удалить" class="btn btn-danger col-md-5 pull-right" />
                    }
            
            </td>
        </tr>
    }
    </table>

</div>





